<?php
$currentLog = $this->widget->form->model;
$details = $currentLog->update_details;
$parsed = $this->parseDetails($details);
?>

<table class="table">
    <thead>
    <tr>
        <th>Time</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($parsed as $message) { ?>
    <tr>
        <td>
            <?= $message['time'] ?>
        </td>
        <td>
            <?= $message['message'] ?>
        </td>
    </tr>
    <?php } ?>
    </tbody>
</table>