<br/>
<?php
$model = $this->formWidget->model;
$content = $model->getProjectTableContent();
$plugins = $content['plugins'];
$project = $content['project'];
$count = 0;
?>
<h4>Connected to: <i><?= $project ?></i></h4>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Plugin name</th>
            <th>Plugin state</th>
            <th>Plugin version</th>
            <th>Upstream version</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($plugins as $plugin) {
              ++$count;
        ?>
        <?php if($plugin->dependencies){ ?>
        <script>
            $('document').ready(function () {
                $('#deps-trigger-<?= $count; ?>').on('click', function () {
                    $('#deps-<?= $count; ?>').toggle();
                })
            })
        </script>
        <?php } ?>


        <tr class="
            <?php if($plugin->state == trans('octexchange.spawn::lang.strings.latest')) { ?>
                success
            <?php } elseif($plugin->state == trans('octexchange.spawn::lang.strings.to_update')) { ?>
                warning
            <?php } elseif($plugin->state == trans('octexchange.spawn::lang.strings.disabled')) { ?>
                danger
            <?php } elseif($plugin->state == trans('octexchange.spawn::lang.strings.unavailable')) { ?>
                grey
            <?php } ?>
            "
            id="deps-trigger-<?= $count; ?>"
        >
            <td><?= $plugin->name ?></td>
            <td><?= $plugin->state ?></td>
            <td><?= $plugin->local_version ?></td>
            <td><?= $plugin->upstream_version ?></td>
            <td>
                <?php if($plugin->is_disabled) { ?>
                <button data-request="backend_plugin_manager::onEnable"
                        data-request-data="alias: '<?= $plugin->alias ?>'" title="Enable plugin"
                        class="btn btn-success"><i
                            class="icon-check"></i></button>
                <?php } else { ?>
                <button data-request="backend_plugin_manager::onDisable"
                        data-request-data="alias: '<?= $plugin->alias ?>'"
                        title="Disable plugin" class="btn btn-warning"><i
                            class="icon-times"></i></button>
                <?php } ?>
                <?php if($plugin->state === trans('octexchange.spawn::lang.strings.to_update')){ ?>
                <button data-request="backend_plugin_manager::onUpdateSingle"
                        data-request-data="alias: '<?= $plugin->alias ?>'" title="Update plugin"
                        class="btn btn-success"><i
                            class="icon-download"></i></button>
                <?php } ?>
            </td>
        </tr>
        <tr style="display: none" id="deps-<?= $count; ?>">
            <td colspan="5">
                <p><b>Dependencies</b></p>
                <?php foreach($plugin->dependencies as $dependency){ ?>
                <p>
                    <span style="width: 32px;">
                        <?php if($dependency->state == trans('octexchange.spawn::lang.strings.unavailable')) { ?>
                            <a class="btn btn-danger"
                               title="<?= trans('octexchange.spawn::lang.strings.not_installed') ?>"><i
                                        class="icon-times"></i></a>
                        <?php } elseif($dependency->state == trans('octexchange.spawn::lang.strings.disabled')) { ?>
                                <a class="btn btn-warning"
                                   title="<?= trans('octexchange.spawn::lang.strings.not_installed') ?>"><i
                                            class="icon-times"></i></a>
                        <?php } else { ?>
                        <a class="btn btn-success"
                           title="<?= trans('octexchange.spawn::lang.strings.not_installed') ?>"><i
                                    class="icon-check"></i></a>
                        <?php } ?>
                    </span>
                    <?= $dependency->name ?><small class="pull-right"><?= $dependency->state ?></small>
                </p>
                <?php } ?>
            </td>
        </tr>
        <?php } ?>
        <?php if (count($plugins) === 0){ ?>
        <tr>
            <td colspan="5" class="text-center">No Plugins Attached</td>
        </tr>
        <?php } ?>
        </tbody>
    </table>
</div>