<br/>
<?php
$model = $this->formWidget->model;
$content = $model->getProjectTableContent();
$themes = $content['themes'];
$project = $content['project'];
$count = 0;
?>
<h4>Connected to: <i><?= $project ?></i></h4>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th style="width: 32px;"></th>
            <th>Theme name</th>
            <th>Author</th>
            <th>Version</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($themes as $theme) {
              ++$count;
        ?>

        <tr>
            <td><?php if($theme->description) { ?><i class="oc-icon-info-circle" title="<?= $theme->description ?>"></i><?php } ?></td>
            <td><?= $theme->name ?></td>
            <td><?= $theme->author ?></td>
            <td><?= $theme->version ?></td>
        </tr>

        <?php } ?>
        <?php if (count($themes) === 0){ ?>
        <tr>
            <td colspan="5" class="text-center">No Themes Attached</td>
        </tr>
        <?php } ?>
        </tbody>
    </table>
</div>